<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head Start -->
<th:block th:replace="~{/xdm/v1/infra/include/includeHead :: head}"></th:block>
<!-- Head END -->
<body>

  <!-- Start Header -->
  <th:block th:replace="~{/xdm/v1/infra/include/includeHeader :: header}"></th:block>
  <!-- End Header -->
  
  <!-- Side bar -->
  <th:block th:replace="~{/xdm/v1/infra/include/includeSide :: aside}"></th:block>
  <!-- End Side bar-->
	
 
  <main id="main" class="main">
    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">page1</a></li>
          <li class="breadcrumb-item">page2</li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
        <p class="p1">Product List</p1>
      </nav>
      <section class="section">
        <div class="row g-3">
          <div class="col">
            <div class="card card-2">
              <div class="card-body">
              <form name="form" method="post" action="/xdm/v1/infra/product/productXdmList">
              	<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1" />
              	<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}" />
                <div class="row g-3">
                  <div class="col-sm-12 col-md-2 col-lg-2">
                    <br>
                    <select class="form-select" name="shDelNy" aria-label="Default select example">
                      <option value="" th:selected="${vo.shDelNy == null}">삭제 여부</option>
                      <option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
                      <option value="0" th:selected="${vo.shDelNy == 0}">N</option>
                    </select>
                  </div>
                  <div class="col-sm-12 col-md-2 col-lg-2">
                    <br>
                    <select class="form-select" name="shUseNy" aria-label="Default select example">
                      <option value="" th:selected="${vo.shUseNy == null}">사용 여부</option>
                      <option value="1" th:selected="${vo.shUseNy == 1}">Y</option>
                      <option value="0" th:selected="${vo.shUseNy == 0}">N</option>
                    </select>
                  </div>
                  <div class="col-sm-12 col-md-2 col-lg-2">
                    <br>
                    <select class="form-select" name="shOptionDate" aria-label="Default select example">
                      <option value="" th:selected="${vo.shOptionDate == null}">날짜선택</option>
                      <option value="1" th:selected="${vo.shOptionDate == 1}">등록날짜</option>
                      <option value="2" th:selected="${vo.shOptionDate == 2}">수정날짜</option>
                   </select>
                  </div>
                  <div class="col-sm-12 col-md-2 col-lg-2">
                    <br>
                    <input type="text" class="form-control" id="shDateStart"  name="shDateStart"  th:value="${#strings.substring(vo.shDateStart, 0, 10)}" autocomplete="off" placeholder="시작일">
                  </div>
                  <div class="col-sm-12 col-md-2 col-lg-2">
                    <br>
                    <input type="text" class="form-control" id="shDateEnd" name="shDateEnd" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" autocomplete="off" placeholder="종료일">
                  </div>
                  </div>
                  <div class="row g-3 mt-2">
                    <div class="col-sm-12 col-md-2 col-lg-2">
                      <select class="form-select" name="shOption" aria-label="Default select example">
                        <option value="">검색구분</option>
                        <option value="1">제품번호</option>
                        <option value="2">제품명</option>
                      </select>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2">
                      <input type="text" class="form-control" name="shValue" placeholder="검색어">
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                      <button type="submit" class="btn btn-outline-dark">
                      		<i class="bi bi-search"></i>
                      </button>
                      <button type="button" class="btn btn-outline-dark"><i class="bi bi-arrow-clockwise"></i></button>
                    </div>
                  </div>
                  <div class="row g-2 mt-3">
                    <div class="col-sm-10 p-2">
                      <a th:text="'Total: ' + ${vo.totalRows}"></a>
                    </div>
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                    	<select class="form-select"
                    		aria-label="Default select example" id="changeRowNum" name="changeRowNum">
                    		<option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
                    		<option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
                    		<option value="30" th:selected="${vo.rowNumToShow eq 30}">30</option>
                    		<option value="50" th:selected="${vo.rowNumToShow eq 50}">50</option>
                    		<option value="80" th:selected="${vo.rowNumToShow eq 80}">80</option>
                    		<option value="100" th:selected="${vo.rowNumToShow eq 100}">100</option>
                    	</select>
                    </div>
                    <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <th>
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                      </th>
                      <th>No</th>
                      <th>제품번호</th>
                      <th>제품명</th>
                      <th>제품가격</th>
                      <th>사용여부</th>
                      <th>삭제여부</th>
                      <th>등록일</th>
                      <th>수정일</th>
                      </tr>
                      </thead>
                     <tbody>
                      <tr th:if="${#lists.isEmpty(list)}">
                      	<td colspan="8">
                      	no data!
                      	</td>
                      </tr>	
                     <tr th:if="!${#lists.isEmpty(list)}" th:each="list : ${list}">
                        <td>
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        </td>
                        <td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
						<td th:text="${list.ifpdSeq}"></td>
                          <td> 
                          <a th:href="@{/xdm/v1/infra/product/productXdmMfom(ifpdSeq=${list?.ifpdSeq})}" th:text="${list.ifpdName}"></a>
                          </td>
                          <td th:text="${list.ifpdPrice}"></td>
						  <td th:if="${list.ifpdUseNy eq 0}">N</td>
                          <td th:unless="${list.ifpdUseNy eq 0}">Y</td>
                          <td th:if="${list.ifpdDelNy eq 0}">N</td>
                          <td th:unless="${list.ifpdDelNy eq 0}">Y</td>
                          <td th:text="${#dates.format(list.ifpdReg, 'yyyy-MM-dd HH:mm:ss')}"></td>
                          <td th:text="${#dates.format(list.ifpdUpdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                          
                         </tr>
                       </tbody>
                    </table>
                    </div>
                    <!-- End Table with stripped rows -->
                    
                   <!--pagination start-->
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled" th:if="${vo.startPage gt vo.pageNumToShow}" style="cursor: pointer;">
				<a class="page-link" aria-label="Previous" href="javascript:goList(${vo.startPage - 1})" 
					th:attr="onclick=|goList('${vo.startPage - 1}')|"> 
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="page-item" th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" 
    			th:classappend="${num eq vo.thisPage} ? active : ''" style="cursor: pointer;">
			<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"></a>
			</li>
			<li class="page-item" th:if="${vo.endPage ne vo.totalPages}" style="cursor: pointer;">
				<a class="page-link" aria-label="Next" th:attr="onclick=|goList('${vo.endPage + 1}')|"> 
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
<!--pagination end-->

                    </div>
                   </form> 
                    <div class="row">
					  <div class="col">
					    <button type="button" class="btn btn-danger" id="btnDelete">
					    <i class="bi bi-x-lg icon_color_change"></i>
					    </button>
					    <button type="button" class="btn btn-danger" id="btnUelete">
					    <i class="bi bi-archive-fill">
					    </i>
					    </button>
					    </div>
						  <div class="col-6 d-flex justify-content-end">
						    <a href="#" class="btn btn-success">
						      <i class="bi bi-file-earmark-check"></i>
						    </a>
						    <a href="http://localhost:8080/xdm/v1/infra/product/productXdmForm" class="btn btn-primary ms-1">
						      <i class="bi bi-plus"></i>
						    </a>
						  </div>
						</div>

                  </div>
              </div>
      </section>

  </main><!-- End #main -->


<th:block th:replace="~{/xdm/v1/infra/include/includefooter :: footer}"></th:block>



  <!-- Vendor JS Files -->
  <script src="/xdm/v1/template/admin/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/xdm/v1/template/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/xdm/v1/template/admin/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/xdm/v1/template/admin/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/xdm/v1/template/admin/assets/vendor/quill/quill.js"></script>
  <script src="/xdm/v1/template/admin/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/xdm/v1/template/admin/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/xdm/v1/template/admin/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(document).ready(function () {
      var postCount = $('#postList tr').length;
      $('#postCount').text(postCount);
    });
  </script>
  <script type="text/javascript">
  window.addEventListener('load', function(){ 
		
	$.datetimepicker.setLocale('ko'); 
	
	$("#shDateStart, #shDateEnd").datetimepicker({ 
		timepicker:false, 
		format:'Y-m-d'  
	});
});
  </script>
  <script>
<!--  paging -->
goList = function(thisPage) {
	document.querySelector("input[name=thisPage]").value = thisPage;
	document.querySelector("form[name=form]").action = "/xdm/v1/infra/product/productXdmList";
	document.querySelector("form[name=form]").submit();
}

document.getElementById("changeRowNum").onchange = function () {
    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
    form.action = "/xdm/v1/infra/product/productXdmList";
    form.submit();

}

</script>

    <script>
  //uelete
  	document.getElementById("btnUelete").onclick = function(){
  		alert("UELETE 확인");
  		let form = document.querySelector("form[name=form]");
  		form.action = "/xdm/v1/infra/product/productXdmUelete"
  		form.submit();
  	}	
  //delete
	  document.getElementById("btnDelete").onclick = function(){
	  		alert("DELETE 확인");
	  		let form = document.querySelector("form[name=form]");
	  		form.action = "/xdm/v1/infra/product/productXdmDelete"
	  		form.submit();
	  	}	
  	
  </script>


  <!-- Template Main JS File -->
  <script src="/xdm/v1/template/admin/assets/js/main.js"></script>
  
  <!-- by developer -->	
  <script src="/xdm/v1/jquery/jquery-3.7.1.min.js"></script>
<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
	<script>
	//LogoutProc
	document.getElementById("LogoutBtn").onclick = function (){
		alert("로그아웃 성공")
		$.ajax({
			async: true,
			cache:false,
			type:"post",
			url:"/xdm/v1/infra/member/memberXdmLogoutProc",
			success: function(response){
				if(response.rt == "success"){
						location.href = "/xdm/v1/infra/member/memberXdmLogin";
				}else{
					
				}
			}
		});
	}
	
	
	</script>

</body>

</html>