<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fruits.infra.code.CodeDao"> 

	<resultMap type="com.fruits.infra.code.CodeDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			b.ifcdSeq,
			b.ifcdName,
			b.ifcdUseNy,
			b.ifcdOrder,
			b.ifcdDesc,
		    b.ifcdDelNy,
		    b.ifcdRegist,
		    b.ifcdEdit,
		    b.codegroup_ifcgSeq,
		    a.ifcgName
		FROM 
			yuz.code AS b
			JOIN codegroup AS a
				ON a.ifcgSEq = b.codegroup_ifcgSeq
		ORDER BY
			b.ifcdSeq desc
	</select>
	
<!-- //code에 codegroup 연결 -->
	<select id="selectListCodeGroup" resultMap="resultMapObj">
		SELECT
			a.ifcgSeq,
			a.ifcgName
		FROM
			codegroup a
		WHERE 1 = 1
			AND a.ifcgDelNy = 0
		ORDER BY
			a.ifcgOrder DESC			
	
	</select>	
	
	
<!-- //	데이터 입력(insert) -->
	<insert id="insert">
		INSERT INTO code(
		ifcdName,
		ifcdUseNy,
		ifcdOrder,
		ifcdDesc,
		ifcdDelNy,
		ifcdRegist,
		ifcdEdit,
		codegroup_ifcgSeq
		)VALUES(
		#{ifcdName},
		#{ifcdUseNy},
		#{ifcdOrder},
		#{ifcdDesc},
		0,
		now(),
		now(),
		#{codegroup_ifcgSeq}
		)
	</insert>
	
<!-- //	테이터 한개 출력(select) -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			b.ifcdSeq,
			b.ifcdName,
			b.ifcdUseNy,
			b.ifcdOrder,
			b.ifcdDesc,
			b.ifcdDelNy,
			b.ifcdRegist,
			b.ifcdEdit,
			b.codegroup_ifcgSeq
		FROM
			yuz.code b
		WHERE 1 = 1
			AND b.ifcdSeq = #{ifcdSeq}	
	
	</select>
<!--         //	테이터 수정(update) -->
		<update id="update">
		UPDATE code
		SET
			ifcdName = #{ifcdName},
			ifcdUseNy = #{ifcdUseNy},
			ifcdOrder = #{ifcdOrder},
			ifcdDesc = #{ifcdDesc},
			ifcdDelNy = 0,
			ifcdEdit = now(),
			codegroup_ifcgSeq = #{codegroup_ifcgSeq}
		WHERE 1 = 1
			AND ifcdSeq = #{ifcdSeq}	
		</update>
		
<!--         //삭제여부 수정(uelete) -->
	
		<update id="uelete">
			UPDATE yuz.code
			SET
				ifcdDelNy = 1
			WHERE 1 = 1
			AND ifcdSeq = #{ifcdSeq}
		</update>
		
	<!-- 데이터 삭제(delete) -->	
	<delete id="delete">
		DELETE FROM yuz.code
		WHERE 1 = 1
			AND ifcdSeq = #{ifcdSeq}
	</delete>
</mapper>


